{% load static %}
<footer>
    <div class="container mil-p-200-100">
      <div class="row">
        <div class="col-xl-3 mil-mb-100">
          <div class="mil-footer-logo mil-up">
            <img loading="lazy" src="img/logo-3.png" alt="Liozio" />
          </div>
        </div>
        <div class="col-xl-3 mil-mb-100">
          <h6 class="mil-soft mil-mb-30 mil-up"></h6>
          <p class="mil-soft-2 mil-mb-20 mil-up">
            
          </p>
          <div class="mil-up">
            <a href="404" class="mil-light"></a>
          </div>
        </div>
        <div class="col-xl-3 mil-mb-100">
          <h6 class="mil-soft mil-mb-30 mil-up"></h6>
          <p class="mil-soft-2 mil-mb-20 mil-up">
            
          </p>
          <div class="mil-up">
            <a href="mailto:info@Liozio.com" class="mil-light"
              ></a
            >
          </div>
        </div>
        <div class="col-xl-3 mil-mb-100">
          <h6 class="mil-soft mil-mb-30 mil-up"></h6>
          <ul class="mil-footer-list">
            <li class="mil-up">
              <a
                target="blank"
                href="https://facebook.com/"
                class="mil-light"
                ></a
              >
            </li>
            <li class="mil-up">
              <a
                target="blank"
                href="https://twitter.com/"
                class="mil-light"
                ></a
              >
            </li>
            <li class="mil-up">
              <a
                target="blank"
                href="https://linkedin.com/"
                class="mil-light"
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mil-p-0-200">
      <div class="mil-footer-bottom mil-up">
        <p class="mil-text-14 mil-up">
         
        </p>
        <p class="mil-text-14 mil-up"></p>
      </div>
    </div>
  </footer>