{% load static %}
<a id="mil-btt" class="mil-back-to-top"
      ><i class="fas fa-arrow-up"></i
    ></a>
    <div class="mil-top-panel-frame">
      <div class="container">
        <div class="mil-top-panel">
          <div class="mil-left">
            <a class="mil-logo mil-logo-sm" href="index.html"
              ><img loading="lazy" src="{% static "img/logolight.png" %}" alt="Liozio Companies"
            /></a>
            <nav>
              <ul class="mil-navigation">
                <li class="mil-current">
                  <a href="#">Home</a>
                </li>
                <li class=""><a href="about.html">About us</a></li>
                <li class=""><a href="services.html">Services</a></li>
                <li class="">
                  <a href="#.">PROJECTS</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="mil-right">
            <ul class="mil-navigation mil-leng mil-white">
              <li>
                <a href="#.">COMPANIES</a>
                <ul>
                  <li><a href="#">LFF</a></li>
                  <li><a href="#">TLS</a></li>
                  <li><a href="#">TREC</a></li>
                </ul>
              </li>
            </ul>
            <div class="mil-menu-btn"><span></span></div>
          </div>
        </div>
      </div>
    </div>