{% load static %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Liozio Companies",
            "url": "https://www.liozio.com",
            "logo": "https://res.cloudinary.com/dcz2xlx1b/image/upload/v1724465159/refined_logo_fl9uka.png",
            "sameAs": [
                "https://www.facebook.com/LiozioCompanies",
                "https://www.twitter.com/LiozioCompanies",
                "https://www.linkedin.com/company/lioziocompanies"
            ]
        }
    </script>    
    <link rel="preload" href="{% static "media/29a6e977ce941007.p.woff2" %}" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="{% static "media/2b0140c2962edc97.p.woff2" %}" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="{% static "media/52db2a4aafb407ce.p.woff2" %}" as="font" crossorigin="" type="font/woff2"
    />
    <link rel="preload" href="{% static "media/7c954515a708ecef.p.woff2" %}" as="font" crossorigin="" type="font/woff2"
    />
    <link rel="stylesheet" href="{% static "css/fonts_setup.css" %}" data-precedence="next"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" data-precedence="next"
    />
    <link rel="stylesheet" href="{% static "css/fontawesome.min.css" %}" data-precedence="next"
    />
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" data-precedence="next"
    />
    <link rel="preload" as="script" fetchPriority="low" href="{% static "chunks/webpack-81452eb8e2facaea.js" %}"
    />
    <script src="{% static "chunks/fd9d1056-fd1b12d27fb84e89.js" %}" async=""
    ></script>
    <script src="{% static "chunks/23-05a7633ca3c66fed.js" %} " async=""></script>
    <script src="{% static "chunks/main-app-f73cdb3bce740b12.js" %}" async=""
    ></script>
    <script src="{% static "chunks/c15bf2b0-c5f2ab0c4ce668d5.js" %}" async=""
    ></script>
    <script src="{% static "chunks/456-90ca5cd4259427b9.js" %} " async=""></script>
    <script src="{% static "chunks/806-f279f4bd8e0f967f.js" %}" async=""></script>
    <script src="{% static "chunks/754-bd0d93aff4b63f7e.js" %} " async=""></script>
    <script src="{% static "chunks/app/page-8f2df761a3705202.js" %} " async=""
    ></script>
    <script type="text/javascript" src="{% static "js/themes/bslthms-advanced-btns/assets/script.min.js" %}" async="" defer=""></script>
    <link rel="icon" href="{% static "img/logolight.png" %}" type="image/x-icon" sizes="16x16" />
    <script src="{% static "chunks/polyfills-78c92fac7aa8fdd8.js" %}" nomodule=""></script>