{% load static %}
 <!-- partners -->
 <div class="mil-bg-soft mil-p-0-170">
    <div class="container">
        <p class="mil-mb-100 mil-dark mil-up">Building Futures Together with Our Esteemed Partners</p>
        <div class="row">
            <div class="col-6 col-xl-3 mil-mb-30">
                <div class="mil-brand-frame mil-up">
                    <img loading="lazy" src="{% static "img/uilogo.jpg" %}" alt="partner">
                </div>
            </div>
            <div class="col-6 col-xl-3 mil-mb-30">
                <div class="mil-brand-frame mil-up">
                    <img loading="lazy" src="{% static "img/lrec.png" %}" alt="partner">
                </div>
            </div>
            <div class="col-6 col-xl-3 mil-mb-30">
                <div class="mil-brand-frame mil-up">
                    <img loading="lazy" src="{% static "img/lfflogo.png" %}" alt="partner">
                </div>
            </div>
            <div class="col-6 col-xl-3 mil-mb-30">
                <div class="mil-brand-frame mil-up">
                    <img loading="lazy" src="{% static "img/lioziohub.png" %}" alt="partner">
                </div>
            </div>
            <div class="col-6 col-xl-3 mil-mb-30">
                <div class="mil-brand-frame mil-up">
                    <img loading="lazy" src="{% static "img/joombow.png" %}" alt="partner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partners end -->