{% load static %}
 <!-- jquery js -->
 <script src="{% static "js/plugins/jquery.min.js" %}"></script>
 <!-- swiper js -->
 <script src="{% static "js/plugins/swiper.min.js" %}"></script>
 <!-- gsap js -->
 <script src="{% static "js/plugins/gsap.min.js" %}"></script>
 <!-- scroll smoother -->
 <script src="{% static "js/plugins/ScrollSmoother.min.js" %}"></script>
 <!-- scroll trigger js -->
 <script src="{% static "js/plugins/ScrollTrigger.min.js" %}"></script>
 <!-- scroll to js -->
 <script src="{% static "js/plugins/ScrollTo.min.js" %}"></script>
 <!-- magnific -->
 <script src="{% static "js/plugins/magnific-popup.js" %}"></script>
 <!-- liozio js -->
 <script src="{% static "js/main.js" %}"></script>
