{% load static %}
<div class="mil-p-200-170 mil-bg-soft">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 mil-text-center">
                <div class="mil-suptitle mil-sm mil-accent mil-mb-30 mil-up">The Liozio TEAM</div>
                <h2 class="mil-mb-30 mil-up">Meet Our Team</h2>
                <p class="mil-mb-100 mil-up">Meet our dedicated team, led by Steve Zion, CEO. Explore our personal stories, experiences, and connect with us on LinkedIn or through our personal websites.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/CEO.png" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Steve Zion</h6>
                        <p>Chief Executive Officer</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/PA.png" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Segun Ajileye</h6>
                        <p>Executive Assistant to the CEO</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/Dele.jpg" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Oladele Alabi</h6>
                        <p>Business Operations Executive</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/sheila-official.jpg" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Sheila Akpaso</h6>
                        <p>Human Resource Executive</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/Fatimat.jpg" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Fatimat Siyaka</h6>
                        <p>Digital Media Executive</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/anu.jpg" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Anuoluwapo Onoriode</h6>
                        <p>Corporate General Counsel</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/sayo.jpg" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Feyisayo Olufemi</h6>
                        <p>Corporate Development Analyst</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mil-mb-30">
                <a href="about.html" class="mil-team-card mil-long">
                    <div class="mil-cover-frame mil-up">
                        <div class="mil-hover-frame">
                            <img loading="lazy" src="{% static "img/IT.png" %}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        </div>
                    </div>
                    <div class="mil-descr mil-up">
                        <h6 class="mil-mb-10">Desmond Ucha</h6>
                        <p>ICT Business Executive</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>