<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Liozio Companies, sustainable development, sustainability, SDG-oriented solutions, impact-driven companies, innovation, entrepreneurship, sustainable farming, animal farming Ibadan, real estate development Ibadan, affordable housing, car care services, car repair Ibadan, car rental services, JOOMBOW, LREC, LIST Ibadan, LFF Ibadan, Liozio Farms, tech-driven solutions,Liozio Hub, Ibadan startups, Ibadan business hub, Liozio Group, sustainable businesses, business in Nigeria, community empowerment, real estate in Ibadan, Ibadan companies, prosperity in Ibadan" />

    <meta property="og:title" content="Liozio Companies - Driving Sustainability and Innovation, Ibadan, Nigeria" />
    <meta name="description" content="Liozio Companies is a dynamic and diverse conglomerate in Ibadan, Nigeria. We focus on sustainability and innovation through SDG-oriented solutions in agriculture, real estate, auto solutions, and startups. Explore our impactful projects and expert team driving positive change and community prosperity." />
    <meta property="keywords" content="Liozio Companies, sustainability, innovation, sustainable development, community empowerment, innovative projects, entrepreneurship, sustainable farming, smart car solutions, real estate development, sustainability in Ibadan, Ibadan top companies, joombow, lrec, list ibadan, lff ibadan, lff, joombow ibadan, Liozio, Lion of Zion" />
    <meta name="robots" content="max-image-preview:large" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="Liozio Companies" />
    <meta property="og:site_name" content="Liozio Companies">
    <meta property="og:title" content="Liozio Companies - Driving Sustainability and Innovation, Ibadan, Nigeria "/>
    <meta property="og:description" content="Discover Liozio Companies, a visionary group creating SDG-driven solutions in agriculture, real estate, auto services, and startups, based in Ibadan, Nigeria." />
    <meta property="og:keywords" content="Liozio Companies, sustainability, innovation, sustainable development, community empowerment, innovative projects, entrepreneurship, sustainable farming, smart car solutions, real estate development, sustainability in Ibadan, Ibadan top companies, joombow, lrec, list ibadan, lff ibadan, lff, joombow ibadan, Liozio, Lion of Zion"/>
    <meta property="og:url" content='https://www.liozio.com'/>
    <meta property="og:image" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1722347219/logolight_qtttdz.png"/>
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1722347219/logolight_qtttdz.png"/>
    <meta property='og:image:type' content='image/png' />
    <meta property="og:type" content='website'/> 
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />

      {% block meta %}{% endblock meta %}
    <title>{%block title %} {% endblock %}</title>
    {% block styles %}
    {% endblock styles %}
    {% block preload_scripts %}{% endblock preload_scripts %}
</head>
<body>
    {% block content %}

    {% endblock content %}
    {% block scripts %}
        
    {% endblock scripts %}
</body>

</html>  