{% extends 'base.html' %}
{% load static %}
{% block meta %}
  <meta name="DC.title" content="Liozio Companies - Driving Sustainability and Innovation, Ibadan, Nigeria">
  <meta name="DC.description" content="Liozio Companies is a dynamic conglomerate focused on sustainability and innovation across industries.">
  <link rel="canonical" href="https://www.lioziocompanies.com/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Liozio Companies - Sustainable Development &amp; Innovation in Ibadan, Nigeria">
  <meta name="twitter:description" content="Liozio Companies is committed to sustainability and innovation in Nigeria. Learn about our projects and how we're shaping a better future.">
  <meta name="twitter:image" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1724465159/refined_logo_fl9uka.png">
  <meta name="twitter:site" content="@LiozioCompanies">
  <link rel="alternate" href="https://www.lioziocompanies.com" hreflang="en">
{% endblock meta %}


{% block title %}
   Liozio Companies - Sustainable Development &amp; Innovation in Ibadan, Nigeria
{% endblock title %}
{% block styles %}
    {% include 'LiozioMainApp/includes/_links.html' %}
    
    {% endblock styles %}
  </head>
  {% block content %}
    <div id="smooth-wrapper" class="mil-wrapper">
  
    <!-- top panel -->
    {% include 'LiozioMainApp/includes/_header.html' %}

    <!-- top panel end -->

        <!-- content -->
        <div id="smooth-content" class="mil-content">

            <!-- banner -->
            <div class="mil-banner-inner-page" style="background-image: url({% static "img/about/1.png" %})">
                <div class="mil-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mil-banner-text-frame">
                                    <div class="mil-banner-text">
                                        <ul class="mil-breadcrumbs mil-mb-30">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="">About Us</a></li>
                                        </ul>
                                        <h1 class="mil-light">About Us</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner end -->

            <!-- about -->
            <div class="mil-p-200-100">
                <div class="container">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-xl-6 mil-mb-100">
                            <div class="mil-suptitle mil-sm mil-accent mil-mb-30 mil-up">ABOUT US - Liozio Companies</div>
                            <h2 class="mil-mb-30 mil-up">Welcome to Liozio Companies</h2>
                            <p class="mil-text-22 mil-mb-30 mil-up">Liozio Companies is a dynamic, impact-oriented conglomerate committed to sustainable development and innovation. Founded in January 2024 and based in Ibadan, Nigeria, we are dedicated to building a world-class organization that addresses critical societal needs through Sustainable Development Goals (SDGs)</p>
                            <p class="mil-up">Our vision extends beyond profitability; we are driven by a desire to create prosperity and improve well-being in the communities we serve.</p>
                        </div>
                        <div class="col-xl-5 mil-mb-100">
                            <div class="mil-image-simple mil-land-plus mil-up mil-mb-30">
                                <img loading="lazy" src="{% static "img/about/2.png" %}" alt="img" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                            </div>
                            <div class="mil-image-simple mil-land-short mil-up">
                                <img loading="lazy" src="{% static "img/about/3.png" %}" alt="img" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about end -->

            <!-- video -->
            <div class="mil-p-0-200">
                <div class="container">
                    <div class="mil-video-frame mil-up">
                        <img loading="lazy" src="{% static "img/lff_fish.jpg" %}" alt="video cover" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
                        <div class="mil-play">
                            <div>
                                <a href="https://youtu.be/9C1YXQzugvw" class="mil-play-icon has-popup-video">
                                    <svg width="35" height="40" viewBox="0 0 35 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.6667 20L0 40L1.74975e-06 0L34.6667 20Z" fill="white" />
                                    </svg>
                                </a>
                                <p class="mil-text-14 mil-light">PARTNERSHIP WITH UI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- video end -->

            <!-- services -->
            <div class="mil-bg-dark mil-p-200-150">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 mil-mb-100">
                            <div class="mil-suptitle mil-sm mil-soft mil-mb-30 mil-up">About Liozio Companies</div>
                            <h2 class="mil-mb-30 mil-light mil-up">Our Corporate Philosophy</h2>
                            <p class="mil-up">Liozio Companies is guided by a corporate philosophy rooted in sustainability, innovation, and community empowerment. We are committed to making a positive impact on society through our operations and initiatives.</p>
                        </div>
                        <div class="col-lg-6">
                            <ul class="mil-service-list">
                                <li class="mil-mb-50 mil-up" data-count="01">
                                    <div class="mil-service-item">
                                        <h4 class="mil-light mil-mb-15">Our Vision</h4>
                                        <p>We aim to be a world-class organization creating SDG-driven products and services. Our long-term goal is to achieve sustainable growth while contributing to the prosperity of the communities we serve.</p>
                                    </div>
                                </li>
                                <li class="mil-mb-50 mil-up" data-count="02">
                                    <div class="mil-service-item">
                                        <h4 class="mil-light mil-mb-15">Our Mission</h4>
                                        <p>Our mission is fueled by the ambition to continually create prosperity for our stakeholders. We believe that by aligning our business objectives with the needs of society, we can drive meaningful change and create a lasting legacy.</p>
                                    </div>
                                </li>
                                <li class="mil-mb-50 mil-up" data-count="03">
                                    <div class="mil-service-item">
                                        <h4 class="mil-light mil-mb-15">Corporate Strategic Objectives</h4>
                                        <p>
                                            <dl>
                                                <dt> <strong>Cultivating Prosperity</strong> </dt>
                                                <dd>We strive to create wealth and opportunities that benefit all our stakeholders.</dd>
                                                <dt> <strong>Nurturing Communities </strong> </dt>
                                                <dd>We are dedicated to enhancing the well-being of the communities where we operate through sustainable and ethical practices.</dd>
                                                <dt> <strong> Empowering Entrepreneurs </strong> </dt>
                                                <dd>We are committed to fostering innovation and entrepreneurship, enabling individuals and businesses to thrive.</dd>
                                            </dl>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- services end -->
             {% comment %} 
              Corporate Social Responsibilities
             {% endcomment %}
             <div class="mil-p-200-200 mil-bg-accent">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 mil-image-frame">
                            <img loading="lazy" src="{% static 'img/smiling_woman2.jpg' %}" style="width:100%; height:100%;object-fit:cover;" alt="img" data-value-1="1" data-value-2="1.1" class="mil-img">
                        </div>
                        <div class="col-xl-6">
                            <div class="mil-suptitle mil-sm mil-light mil-mb-30 mil-up">CSR Initiatives</div>
                            <h2 class="mil-h1 mil-light mil-mb-30 mil-up">Corporate Social Responsibilities</h2>
                            <p class="mil-light mil-mb-50 mil-up">At Liozio, we recognize the importance of giving back to society. Our CSR initiatives are centered around five key pillars.
                                <ul class="mil-light mil-mb-50 ml-20 mil-up">
                                    <li><strong>Environmental Responsibility</strong> &raquo; We adopt sustainable practices that minimize our ecological footprint, from responsible sourcing to waste reduction.</li>
                                    <li><strong>Philanthropic Efforts</strong> &raquo; We support non-profit organizations, educational institutions, and cultural programs through financial contributions and scholarships.</li>
                                    <li><strong>Ethical Standards</strong> &raquo;  We uphold strong ethical values in our business practices and partnerships, ensuring integrity and transparency in all our dealings.</li>
                                    <li><strong>Economic Responsibility</strong> &raquo; We are committed to fair wages, ethical supply chain management, and sound financial stewardship, ensuring that our business activities positively impact our stakeholders.</li>
                                    <li><strong>Community Engagement</strong> &raquo; We actively participate in community development projects, focusing on education, healthcare, and entrepreneurship.</li>
                                </ul>
                            </p>
                            <div class="mil-up"><a href="{% url "contact" %}" class="mil-btn mil-btn-border mil-light">Contact Us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team -->
            {% include "LiozioMainApp/includes/_team.html" %}
            <!-- team end -->

            <!-- partners -->
            {% include "LiozioMainApp/includes/_partners.html" %}
            <!-- partners end -->
            
            <!-- call to action -->
            
            {% include "LiozioMainApp/includes/_cta.html" %}
            <!-- call to action end -->

        <!-- footer -->
        {% include "LiozioMainApp/includes/_footer.html" %}
        <!-- footer end -->


    </div>
    <!-- content end -->

</div>

  {% endblock content %}
  {% block scripts %}
        {% include "LiozioMainApp/includes/_scripts.html" %}
  {% endblock scripts %}

</html>
